img, .img-fluid {
	max-width: 100%;
	height: auto;
}

main {
	padding: 1rem;
}

.post-card {
	width: 100%;
}

@media (min-width: 576px) {
	.post-card { max-width: 540px; }
}

@media (min-width: 768px) {
	.post-card { max-width: 720px; }
}

